body{
	height: 160vh;
	overflow-x: hidden;
}

/**/

#formulario {
	margin-left: 2%;
	width: 30%;
}

@media (max-width: 850px) {
	#formulario {
		width: 90%;
	}

	::placeholder {
		color: transparent;
	}
}

@media (max-width: 480px) {
	#formulario {
		width: 90%;
	}

	::placeholder {
		color: transparent;
	}
}

/**/

.blocosForm {
	background-color: black;
	
	padding-left: 2%;
	padding-bottom: 5%;

	border-width: 2px;
	border-style: solid;
  	border-color: #ffb326;
	box-shadow: 5px 5px 10px #ffb326;

	margin-bottom: 8%;
	

}

h3 {
	color: darkorange;
	font-weight: bold;
	font-size: 20px;
	font-family: Verdana, sans-serif;
}

/**/

label {
	color: white;	
	font-weight: bold;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	display: block;
	margin-top: 2%;
	margin-bottom: 2%;
}

/**/

input {
	background-color: black;
	font-family: Bradley Hand, cursive;
	color: white;

	border-width: 2px;
	border-style: solid;
  	border-color: #ffb326;
  	border-left: 0px;
  	border-right: 0px;
  	border-top: 0px;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
	width: 50%;
}

input:hover {
	font-size: 15px;
}

input:focus {
	font-size: 15px;
	outline: none;
}

/**/

textarea {
	color: white;

	background-color: black;

	border-width: 2px;
	border-style: solid;
  	border-color: #ffb326;
}

textarea:hover {
	font-size: 15px;
}

textarea:focus {
	font-size: 15px;
	outline-color: #ffb326;
	outline-width: 0cap;
}

/**/

select {
	background-color: #ffb326;

	border-width: 1px;
	border-style: solid;
  	border-color: #ffb326;

	width: 30%;
}

select:hover {
	background-color: #ffb326;
	font-size: 18px;
}

select:focus {
	font-size: 18px;
}

option {
	background-color: #ffb326 ;
}

/**/

#genero {
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 13px;
}

/**/

#cadastrar {
	background-color: #ffb326;
	border-radius: 8px;
	padding: 5px;
	font-size: 18px;
	
	color: black;
	cursor: pointer;
}

@keyframes animaBotao {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#cadastrar:hover{
	animation: animaBotao;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}


